PORT=8080
MONGO_URI=mongodb://localhost:27017/library
# You can generate a random string for SESSION_SECRET using online tools or libraries like crypto in Node.js
SESSION_SECRET=put_any_random_text_here
APP_URL=http://localhost:8080
MAIL_USER=your_gmail@gmail.com
MAIL_PASS=your_16_char_app_password

