<div class="navbar">
  <div class="nav-title border">
    <i class="fa-solid fa-shield-halved"></i>
    <span>ADMIN PANEL</span>
  </div>
  <div class="nav-right">
    <a href="/admin"        class="admin-nav-link">Dashboard</a>
    <a href="/admin/books"  class="admin-nav-link">Books</a>
    <a href="/admin/users"  class="admin-nav-link">Users</a>
    <a href="/admin/issued" class="admin-nav-link">Issued</a>
    <form action="/logout" method="POST">
      <button type="submit" class="btn">Logout</button>
    </form>
  </div>
</div>
